/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここからカスタムスタイルを追加することも可能です */

/* 例: ネオンエフェクト（カスタムクラス） */
.neon-text {
  animation: neon 1.5s ease-in-out infinite;
}

@keyframes neon {
  0%, 100% {
    text-shadow: 0 0 5px #ff073a, 0 0 10px #ff073a, 0 0 20px #ff073a;
  }
  50% {
    text-shadow: 0 0 10px #ff073a, 0 0 20px #ff073a, 0 0 30px #ff073a;
  }
}
